<%= render "shared/header" %>
<h3>予定を編集してください</h3>

<% if flash[:alert] %>
<p class="alert"><%= flash[:alert] %></p>
<% end %>


<%= render 'form', schedule: @schedule %>

<%= button_to 'キャンセル', schedules_path %>
